.logo {
  float: left;
  width: 320px;
  height: 631px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout .site-layout-background {
  background: #fff;
}

Sider.site-layout-background {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar-title {
  text-align: center;
  margin: 10px;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
  font-size: 19px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}